@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
    
    table {
        width:350px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        text-align:center;
    }

    .jumbotron {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    #results, #coinsorter {
        width: 450px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}